<a href="https://colab.research.google.com/github/abhinavkmr569/Data-Warehousing-and-Mining/blob/master/KNN_binary_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
Binary KNN Classification using Euclidean Distance:
===

---
Importing Libraries
===

In [18]:
import pandas as pd
import numpy as np
from tabulate import tabulate

---
Taking Input:
===

In [20]:
n = int(input("Enter number of data to be entered (number of rows): "))

l = []

for i in range(n):
    print("")
    print("Enter values for Row number: {}".format(i+1))
    l.append(int(input("Enter P1: ")))
    l.append(int(input("Enter P2: ")))
    a = (input("Enter Class (T/F): "))
    l.append(a.upper())

l = np.array(l)

l = l.reshape((n,3))


df = pd.DataFrame(data=l, columns=["P1", "P2","Class"])
print(tabulate(df, headers = ["Index","P1","P2","Class","Distance"], tablefmt="psql"))

Enter number of data to be entered (number of rows): 4

Enter values for Row number: 1
Enter P1: 7
Enter P2: 7
Enter Class (T/F): f

Enter values for Row number: 2
Enter P1: 7
Enter P2: 4
Enter Class (T/F): f

Enter values for Row number: 3
Enter P1: 3
Enter P2: 4
Enter Class (T/F): t

Enter values for Row number: 4
Enter P1: 1
Enter P2: 4
Enter Class (T/F): t
+---------+------+------+---------+
|   Index |   P1 |   P2 | Class   |
|---------+------+------+---------|
|       0 |    7 |    7 | F       |
|       1 |    7 |    4 | F       |
|       2 |    3 |    4 | T       |
|       3 |    1 |    4 | T       |
+---------+------+------+---------+

---
Calculations:
===

In [22]:
p1 = int(input("Enter value for P1 for prediction: ")) 
p2 = int(input("Enter value for P2 for prediction: ")) 
k = int(input("Enter value for \"k\": "))

d = []  # d ka length = number of rows in l

for i in range(n):
    a = pow((p1-int(df["P1"][i])),2)
    b = pow((p2-int(df['P2'][i])),2)
    o = pow(a+b,0.5)
    d.append(o)

df["Distance"] = d

df1 = df.sort_values("Distance")

print("")

print("Ascending Order w.r.t. Distance: ")
print(tabulate(df1, headers = ["Index","P1","P2","Class","Distance"], tablefmt="psql"))

print("")

df1 = df1.head(k)
# df1 = pd.DataFrame(df1,index=[False])

t = df1.Class[df1["Class"]=="T"].count()
f = df1.Class[df1["Class"]=="F"].count()

print("")

if (t>f):
    print("The predicted class is: \"True\" as count of True:False = {}:{} for \"k\" = {}".format(t,f,k))
else:
    print("The predicted class is: \"False\" as count of True:False = {}:{} for \"k\" = {}".format(t,f,k))

Enter value for P1 for prediction: 3
Enter value for P2 for prediction: 7
Enter value for "k": 3

Ascending Order w.r.t. Distance:
+---------+------+------+---------+------------+
|   Index |   P1 |   P2 | Class   |   Distance |
|---------+------+------+---------+------------|
|       2 |    3 |    4 | T       |    3       |
|       3 |    1 |    4 | T       |    3.60555 |
|       0 |    7 |    7 | F       |    4       |
|       1 |    7 |    4 | F       |    5       |
+---------+------+------+---------+------------+


The predicted class is: "True" as count of True:False = 2:1 for "k" = 3