In [1]:
from tabulate import tabulate
import pandas as pd

In [2]:
df = pd.read_csv("golf.csv")

In [3]:
df.drop(["day"], axis=1)

     outlook humidity    wind play
0      sunny     high    weak   no
1      sunny     high  strong   no
2   overcast     high    weak  yes
3       rain     high    weak  yes
4       rain   normal    weak  yes
5       rain   normal  strong   no
6   overcast   normal  strong  yes
7      sunny     high    weak   no
8      sunny   normal    weak  yes
9       rain   normal    weak  yes
10     sunny   normal  strong  yes
11  overcast     high  strong  yes
12  overcast   normal    weak  yes
13      rain     high  strong   no

In [4]:
df['play'].groupby(df['outlook']).value_counts(sort=True)

outlook   play
overcast  yes     4
rain      yes     3
          no      2
sunny     no      3
          yes     2
Name: play, dtype: int64

In [5]:
df['play'].groupby(df['humidity']).value_counts(sort=True)

humidity  play
high      no      4
          yes     3
normal    yes     6
          no      1
Name: play, dtype: int64

In [6]:
df['play'].groupby(df['wind']).value_counts(sort=True)

wind    play
strong  no      3
        yes     3
weak    yes     6
        no      2
Name: play, dtype: int64

In [7]:
a = df['play'].groupby(df['outlook']).value_counts(sort=True)
b = df['play'].groupby(df['humidity']).value_counts(sort=True)
c = df['play'].groupby(df['wind']).value_counts(sort=True)
d = df["play"].value_counts(sort = True)

In [8]:
outlook_yes_no = dict(a)

humidity_yes_no = dict(b)

wind_yes_no = dict(c)

play_yes_no = dict(d)

In [9]:
outlook_yes_no[("overcast", "no")] = 0


headers = ['Outlook', 'Play', 'Count']
data = sorted([(k[0],k[-1],v) for k,v in outlook_yes_no.items()])
print(tabulate(data, headers=headers, tablefmt="psql"))

+-----------+--------+---------+
| Outlook   | Play   |   Count |
|-----------+--------+---------|
| overcast  | no     |       0 |
| overcast  | yes    |       4 |
| rain      | no     |       2 |
| rain      | yes    |       3 |
| sunny     | no     |       3 |
| sunny     | yes    |       2 |
+-----------+--------+---------+

In [10]:
headers = ['Humidity', 'Play', 'Count']
data = sorted([(k[0],k[1],v) for k,v in humidity_yes_no.items()])
print(tabulate(data, headers=headers, tablefmt="psql"))

+------------+--------+---------+
| Humidity   | Play   |   Count |
|------------+--------+---------|
| high       | no     |       4 |
| high       | yes    |       3 |
| normal     | no     |       1 |
| normal     | yes    |       6 |
+------------+--------+---------+

In [11]:
headers = ['Wind', 'Play','Count']
data = sorted([(k[0],k[1],v) for k,v in wind_yes_no.items()])
print(tabulate(data, headers=headers, tablefmt="psql"))

+--------+--------+---------+
| Wind   | Play   |   Count |
|--------+--------+---------|
| strong | no     |       3 |
| strong | yes    |       3 |
| weak   | no     |       2 |
| weak   | yes    |       6 |
+--------+--------+---------+

In [12]:
headers = ['Yes/No', 'Count']
data = sorted([(k,v) for k,v in play_yes_no.items()])
print(tabulate(data, headers=headers, tablefmt="psql"))

+----------+---------+
| Yes/No   |   Count |
|----------+---------|
| no       |       5 |
| yes      |       9 |
+----------+---------+

In [13]:
out = input("Enter Outlook (overcast, rain, sunny): ")
out = out.lower()
hum = input("Enter Humidity (high, normal): ")
hum = hum.lower()
win = input("Enter Wind (strong, weak): ")
win = win.lower()

Enter Outlook (overcast, rain, sunny): rain
Enter Humidity (high, normal): high
Enter Wind (strong, weak): weak

In [18]:
x = (out, 'yes')
y = (out, 'no')

i = (hum, 'yes')
p = (hum, 'no')

j = (win, 'yes')
h = (win, 'no')

In [19]:
yes = (outlook_yes_no[x]/play_yes_no["yes"])*(humidity_yes_no[i]/play_yes_no["yes"])*(wind_yes_no[j]/play_yes_no["yes"])*(play_yes_no["yes"]/14)

no = (outlook_yes_no[y]/play_yes_no["no"])*(humidity_yes_no[p]/play_yes_no["no"])*(wind_yes_no[h]/play_yes_no["no"])*(play_yes_no["no"]/14)

In [20]:
yes

0.04761904761904762

In [21]:
no

0.04571428571428573

In [22]:
if (yes>no):
  print("Likelihood of \'Yes\' for Weather Forecast => {}, {}, {} -> {}".format(out,hum,win,yes))
  print("Likelihood of \'No\' for Weather Forecast => {}, {}, {} -> {}".format(out,hum,win,no))
  print("\nProbability of YES for Weather Forecast => {}, {}, {} -> {}".format(out,hum,win,(yes/(yes+no))))
  print("Probability of NO for Weather Forecast => {}, {}, {} -> {}".format(out,hum,win,(no/(yes+no))))
  print("\nPredicted Play => Yes with a {} % chance".format((yes/(yes+no))*100))

else:
  print("Likelihood of \'Yes\' for Weather Forecast => {}, {}, {} -> {}".format(out,hum,win,yes))
  print("Likelihood of \'No\' for Weather Forecast => {}, {}, {} -> {}".format(out,hum,win,no))
  print("\nProbability of YES for Weather Forecast => {}, {}, {} -> {}".format(out,hum,win,(yes/(yes+no)*100)))
  print("Probability of NO for Weather Forecast => {}, {}, {} -> {}".format(out,hum,win,(no/(yes+no)*100)))
  print("\nPredicted Play => No with a {} % chance".format((yes/(yes+no))*100))

Likelihood of 'Yes' for Weather Forecast => rain, high, weak -> 0.04761904761904762
Likelihood of 'No' for Weather Forecast => rain, high, weak -> 0.04571428571428573

Probability of YES for Weather Forecast => rain, high, weak -> 0.510204081632653
Probability of NO for Weather Forecast => rain, high, weak -> 0.489795918367347

Predicted Play => Yes with a 51.020408163265294 % chance